.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
  isolation: isolate;
}

.characterEditor::before {
  z-index: 0;
  content: '';
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgb(214, 223, 225);
}

.maxWidthWrapper {
  position: relative;
  z-index: 1;
}

.header {
  width: 65%;
  padding-bottom: 64px;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  max-width: 50%;
  min-height: 500px;
  position: fixed;
  z-index: 1;
  top: 15%;
  left: 65%;
  bottom: 5%;
}

.controlColumn {
  width: 50%;
}
